<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome - Poloman - Port Logistics & Mining Academy of Nigeria</title>
    <meta name="description" content="POLOMAN is product of distinguished Academicians, Professionals
     and Practitioners that would welcoeme the nedd for present and future Managers, Excutives and Other workforce in the Port Logistics,
      Hospitality, Tourism Oil & Gas and Mining industries">


    <script src="https://demo.web3canvas.com/cdn-cgi/apps/head/-mEFVS8y7qx5pVzWHQTCQu5gnVM.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/simple-line-icons.css">

    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <section class="landing-header about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <b style="color: #fff;">POLOMAN</b>
                    </h2>
                </div>
            </div>
            <div class="landing-form">
                <div class="row">
                    <div class="col-md-8">
                        <div class="landing-title">
                            <h2>Get Advanced Professional Certification </h2>
                            <p>POLOMAN is product of distinguished Academicians, Professionals
                                and Practitioners that would welcoeme the nedd for present and future Managers,
                                Excutives and Other workforce in the Port Logistics,
                                Hospitality, Tourism Oil & Gas and Mining industries to be academically equipped,
                                professionally sound and occupationally qualified with specific and qualified knowledge,
                                education,
                                training and modern experinece that conforms with global best practices.</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="landing-form-wrap">
                            <h4 class="text-center mb-3">Pick a Course</h4>
                            <form action="/" method="post" id="admissionform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="first_name" class="form-control"
                                                placeholder="First Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="last_name" class="form-control"
                                                placeholder="Last Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control" placeholder="Email"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control custom-select" name="course" required>
                                                <option selected="" value="">Course</option>
                                                <option value="select">Mining Technology & Management</option>
                                                <option value="select">Hospitality & Event Business & Management
                                                </option>
                                                <option value="select">Miming Technology & Management</option>
                                                <option value="select">Oil & Gas Industry Technology & Management
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="phone" class="form-control" placeholder="Phone"
                                                required>
                                        </div>
                                        <div class="form-group mb-0">
                                            <button disabled type="submit" class="btn btn-warning"
                                                id="js-admission-btn">APPLY
                                                NOW</button>
                                            <div id="js-admission-result"
                                                data-success-msg="Success, Your application has been sent"
                                                data-error-msg="Oops! Something went wrong"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="admission_cources">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center mb-4">About POLOMAN</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3">Student testimonial</h2>
                    <div class="landing-testimonial_block">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <p>
                            The curriculum here is very precise and challenging. Learners are tasked with solving real
                            world
                            challenges in the Mining, Maritime and Aviation Industry, The lecturers here are constantly
                            update to
                            the latest Industry standard and best practices.
                        </p>
                        <h6><strong>Michelle Oghenerounu</strong>
                            <h6>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="call-to_action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#admissionform" class="btn btn-warning pull-right">Join this course</a>
                    <h3>Advanced Certificate in Applied Management</h3>
                    <span>Join the Course now</span>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe">
                        <h3>Newsletter</h3>
                        <form id="subscribeform"
                            action="https://demo.web3canvas.com/themeforest/unisco/php/subscribe.php" method="post">
                            <input class="signup_form" type="text" name="email" placeholder="Enter Your Email Address">
                            <button type="submit" class="btn btn-warning" id="js-subscribe-btn">SUBSCRIBE</button>
                            <div id="js-subscribe-result" data-success-msg="Success, Please check your email."
                                data-error-msg="Oops! Something went wrong"></div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>

</html>